<%= render 'head' %>

      <p id="notice"><%= notice %></p>

      <%= link_to 'Registrar instructor', new_instructor_path,class:"btn btn-primary"  %>

      <table class="table">
        <thead>
              <tr>
                <th>Nombre</th>
              </tr>
        </thead>
        <tbody>
          <% @instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.nombre %></td>
              <td><%= link_to 'Mostrar', instructor, class:"btn btn-info" %></td>
              <td><%= link_to 'Editar', edit_instructor_path(instructor),class:"btn btn-warning"  %></td>
              <td><%= link_to 'Eliminar', instructor, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

